body{
    background-color: rgb(113, 241, 196);
}
nav{
    background-color: rgb(4, 141, 111);
}
img{
    width: 20%;
    border: 2px solid palevioletred;
    border-radius: 50%;
}
a {
    color: white;
}
h3{
    color: white;
}
footer{
    margin-bottom: 30px;
}
.Project-1{
    border: 2px solid green;
}

