h3 {
    color: white;
}

footer {
    margin-bottom: 30px;
}

img {
    width: 500px;
}

.Project-1 .Project-2{
    border: 2px solid white;
    position: relative;
}

.dev-pic {
    width: 20%;
    border: 2px solid palevioletred;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

.Project-info {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;

}

.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}