body {
    background: linear-gradient(45deg, #64e69a 15%, #e591de);
}

p {
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

h1 {
    text-align: center;
    color: blueviolet;
    font-size: 80px;
    font-weight: 60px;
    margin: 2px auto;
    font-family: fantasy;
}

h2 {
    text-align: center;
    font-size: 15px;
    margin: 0px 0px 4px 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 0px 0px 35px 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
}

h6 {
    text-align: center;
    font-family: monospace;
    font-size: 13px;
    margin: 30px 0px 10px 0px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 2px auto;
}

li {
    display: inline;
    margin: 0px 5px auto;
    font-family: monospace;
}

img {
    display: block;
    text-align: center;
    margin: 0px auto;
    border: 4px solid #e591de;
    border-radius: 10px 10px 10px;
}

.Para {
    text-align: center;
    margin: 30px 300px 30px 300px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.Host {
    border-radius: 150px 150px 150px 150px;
    border-width: 2px;
    background-color: rgb(240, 142, 96);
    border: 2px solid rgb(240, 142, 96);
    padding: 6px;
    margin: 0px auto;
    box-shadow: 2px 2px 30px rgb(170, 170, 238);
}

.Host:hover {
    background-color: rgb(184, 255, 255);
    border-color: rgb(184, 255, 255);
    color: aliceblue;
    cursor: pointer;
}

.email {
    color: blueviolet;
}

.insta {
    color: blueviolet;
}

Button {
    font-size: 18px;
    display: block;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 10px;
    margin: 0px auto;
    line-height: 10px;
    background-color: bisque;
    color: black;
    border: 5px solid rgb(170, 170, 238);
    border-color: bisque;
    border-radius: 25px 25px 25px 25px;
    text-decoration: none;
    box-shadow: 5px 5px 10px grey;
    transition: all 200ms ease;
}

button:hover {
    background-color: rgb(102, 102, 218);
    border-color: rgb(102, 102, 218);
    color: aliceblue;
    cursor: pointer;
}