header{
    border: 3px solid grey;
}
.dev-pic {
    border: 3px solid pink;
}
.intro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid yellow;
    padding: 3px;
}
.Project-1{
    border: 3px solid blueviolet;
}
.Project-2{
    border: 3px solid blue;
}
.about-info{
    border: 3px solid red;
}